body
{
	
}
#main 
{
	background:hsl(0, 0%, 85%);
	margin: 20px;
	border-radius:15px;
	text-align:center;
	max-width:100%;
	height:auto;
	font-family: Bookman, sans-serif;
	padding-bottom:1%;
}
#title-div 
{
	padding:1%;
}
#title-sub
{
	font-size:1.2em;
	font-style:italic;
}
#img-div
{
	width: 95%;
	border-radius: 50px;
	margin:auto;
	/*background: hsl(0, 0%, 80%);*/
	height:auto;

}
img
{
	display: block;
	max-width: 100%;
	height: auto;
	margin:auto;
	border-radius:10%;

}
img:hover
{
	-webkit-transition:1s all;
	-webkit-filter:brightness(80%);
	border-radius:15%;
}
#img-caption
{
	font-size:1.01em;
}
#tribute-info
{
	width:50%;
	margin-left:25%;
	margin-right:25%;
}
#tribute-info p
{
	text-align:left;
}
blockquote
{
	font-size: 14pt;
	font-style: italic;
	background: hsl(0, 0%, 80%);
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
	word-spacing:2px;
}
@media(max-width: 600px)
{
	blockquote
	{
		font-size: 12pt;
	}
}